body{
	background-color: #ccc;	
	color:#000305;
	/*font-size: 7.5%; Base font size is 14px*/
	font-family: Arial,'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}


a{
	text-decoration: none;
}

a:link, a:visited{

}

a:hover, a:active{
	
}

